<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Spotify
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-button *ngIf="!spotifyData"  expand="full" (click)="connectSpotify()" shape="round">Connect Spotify</ion-button>

<div  *ngIf="spotifyData">
<ion-list>

  <ion-item>
    <ion-thumbnail slot="end">
      <img [src]="spotifyData.images[0].url">
    </ion-thumbnail>
    <ion-label>
      <h1>{{spotifyData.display_name}}</h1>
      <p>{{spotifyData.email}}</p>
    </ion-label>
  </ion-item>
 
</ion-list>

<ion-button (click)="saveSpotifyCode('')" expand="full" shape="round" color="primary">Logout Spotify</ion-button>
 
</div>

</ion-content>