<ion-content [fullscreen]="true" class="ion-margin ion-padding login-page">
  <ion-grid>


  <h1 class="text-center login-text">BlockBox</h1>
   <form [formGroup]="loginForm" (ngSubmit)="loginEmail(loginForm.value)">


    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">your@email.com</ion-label>
          <ion-input formControlName="email" type="email"  required></ion-input>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
              *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password"  required></ion-input>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
              *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-text class="forgot-password">Forgot Password</ion-text>
    </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button [disabled]="!loginForm.valid || isLoading" size="large" type="submit" expand="block" shape="round" color="dark" fill="outline" class="login">
          <p *ngIf="!isLoading">Login</p>
          <span *ngIf="isLoading">
            <img src="assets/loading.svg" class="loadingSvg" alt="">
          </span>
        </ion-button>
      </ion-col>
    </ion-row>

   </form>     
 
 
  
 

    <h5 color="dark" class="text-center">OR</h5>

   
  <ion-button type="button" expand="block" (click)="googleLogin()" color="google" >
    <ion-icon slot="start" name="logo-google"></ion-icon>
    Sign in with Google
  </ion-button>


  <ion-button type="button" expand="block" (click)="facebookLogin()" color="facebook" >
    <ion-icon slot="start" name="logo-facebook"></ion-icon>
    Sign in with Facebook
  </ion-button>
 

   
  <ion-row>
 
    <ion-text class="footer-text">I'm a new user. 
      <b (click)="toSignup()">Sign up</b>
      </ion-text>
  </ion-row>
 
</ion-grid>


 

</ion-content>