ion-content {
    --padding-top: 20%;
    --padding-start: 10%;
    --padding-end: 10%;
    --background: url('../../../assets/bg/bg.jpg') 0 0/100% 100% no-repeat;
    --overflow: hidden;
}
 
.input-group {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}
 
.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.login-text{
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 40px;
}

.footer-text{
    margin: auto;
    margin-top: 20px;
}