<section>
  
  <ion-button expand="block" fill="outline" [disabled]="location" (click)="turnOnLocation()">
    <ion-icon name="location-outline" slot="start"></ion-icon>
    Access Location
  </ion-button>

  <ion-button expand="block" fill="outline" [disabled]="wifi" >
    <ion-icon name="wifi-outline" slot="start"></ion-icon>
    Enable Wi-Fi
  </ion-button>

  <ion-button expand="block" fill="outline" [disabled]="bluetooth" (click)="getLocationCoordinates()" >
    <ion-icon name="bluetooth-outline" slot="start"></ion-icon>
    Enable Bluetooth
  </ion-button>
 
</section>
