<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add Device
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
 <!-- Default Segment -->
<ion-segment [(ngModel)]="auto" (ionChange)="switchType($event)">
  <ion-segment-button value="1">
    <ion-label>Auto Scan</ion-label>
  </ion-segment-button>
  <ion-segment-button value="0">
    <ion-label>Add Manually</ion-label>
  </ion-segment-button>
</ion-segment>



<div *ngIf="auto==1">
  
  <app-permissions></app-permissions>

  <app-scanning *ngIf="scanning"></app-scanning>

</div>

<div *ngIf="auto==0">

  <ion-list >

    <ion-item>
      <ion-label>Room</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="room" (ionChange)="presentRoomNameAlert($event)" >
        <ion-select-option value="+=add">Create New Room</ion-select-option>
        <ion-select-option *ngFor="let room of rooms" [value]="room.roomId">{{room.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    
    


    <ion-item>
      <ion-label>Device</ion-label>
    
      <ionic-selectable
        [(ngModel)]="device"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          [items]="devices"
           (onChange)="deviceChange($event)">

      </ionic-selectable>
    </ion-item>
 
    </ion-list>



    <ion-card *ngIf="device">
      <ion-card-header>  
        <ion-card-title>{{device.name}}</ion-card-title>
        <ion-card-subtitle>{{device.description}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-button class="center-elem" (click)="scanForDevice()" shape="round">Scan</ion-button>
      </ion-card-content>
    </ion-card>


  </div>

</ion-content>
