<ion-list>
  <ion-item *ngFor="let network of networks" detail="true" (click)="connectToWifi(network)">
    
    <i *ngIf="network.level >= -50 && network.level < 0" slot="start" class="wifi-full"></i> 
    <i *ngIf="network.level >= -60 && network.level < -51" slot="start" class="wifi-most"></i> 
    <i *ngIf="network.level >= -90 && network.level < -61" slot="start" class="wifi-half"></i> 
    <i *ngIf="network.level >= -100 && network.level < -91" slot="start" class="wifi-none"></i> 

    <ion-label>{{network.SSID}} </ion-label>
  
  </ion-item>
</ion-list>