<ion-content  padding>

  <h1 class="text-center login-text">BlockBox</h1>

  <form [formGroup]="signupForm" (ngSubmit)="signUp(signupForm.value)">
  

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Full Name</ion-label>
          <ion-input formControlName="name" type="text" required></ion-input>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.name">
            <div class="error-message"
              *ngIf="signupForm.get('name').hasError(validation.type) && (signupForm.get('name').dirty || signupForm.get('name').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">your@email.com</ion-label>
          <ion-input formControlName="email" type="email" required></ion-input>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
              *ngIf="signupForm.get('email').hasError(validation.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>


      </ion-col>
    </ion-row>

    
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password"  required></ion-input>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
              *ngIf="signupForm.get('password').hasError(validation.type) && (signupForm.get('password').dirty || signupForm.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>


    </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-button size="large" type="submit" [disabled]="!signupForm.valid || isLoading" expand="block" shape="round" color="dark" fill="outline" class="login">
          
          <p *ngIf="!isLoading">Sign Up</p>
          <span *ngIf="isLoading">
            <img src="assets/loading.svg" class="loadingSvg" alt="">
          </span>

        </ion-button>
      </ion-col>
    </ion-row>


  </form>
 
          
             
            <ion-row>
           
              <ion-text class="footer-text">I'm already registered.
                <b (click)="toLogin()">Sign in</b>
                </ion-text>
            </ion-row>
        
 

</ion-content>
