<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Accounts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    
    <ion-item>
      <ion-label>Spotify</ion-label>
      <ion-toggle color="primary"></ion-toggle>
      <ion-icon slot="end" name="chevron-forward-outline" (click)="configSpotify()" ></ion-icon>
    </ion-item>

    <ion-item> 
      <ion-label>Google</ion-label>
      <ion-toggle color="primary"></ion-toggle>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>


  </ion-list>


</ion-content>