<div class="app">
	
	<div class="sonar">
		
		<div class="sonar__container">
			<div class="distance">
				<div class="distance__circle"></div>
				<div class="distance__circle"></div>
				<div class="distance__circle"></div>
				<div class="distance__circle"></div>
				<div class="distance__circle"></div>
			</div>
			
			<div class="degree">
				<div class="degree__line"></div>
				<div class="degree__line"></div>
				<div class="degree__line"></div>
				<div class="degree__line"></div>
				<div class="degree__line"></div>
				<div class="degree__line"></div>
				<div class="degree__line"></div>
				<div class="degree__line"></div>
				<div class="degree__line"></div>
				<div class="degree__line"></div>
				<div class="degree__line"></div>
				<div class="degree__line"></div>
			</div>
			
			<div class="matrix"></div>
			
			<div class="rotary"></div>
			
 
      <p class="text-center loading">Scanning</p>
	
  
    </div>
		
	</div>
	
</div>