<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favorites Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Favorites Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Favorites Page"></app-explore-container>
</ion-content>
