<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-card color="primary" href="#">
          <ion-card-content>
           
      
            <h1 > 
               <ion-icon name="grid-outline" size="large"></ion-icon>
              All Devices
            </h1>
       
      
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    
    <ion-row>
      <ion-col>
        </ion-col>
      <ion-col>
        </ion-col>
      </ion-row>

  </ion-grid>


 
 

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addDevice()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
</ion-content>
