<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   

  <ion-card>
    <ion-card-header> 
      <ion-avatar style="margin:auto;">
        <img [src]="token.photoURL">
      </ion-avatar>
      <ion-card-title class="text-center">{{token.displayName}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>
  
    <ion-item button detail="false">
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item button detail="false" (click)="openAccounts()">
      <ion-icon slot="start" name="people-circle-outline"></ion-icon>
      <ion-label>Accounts</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item button detail="false">
      <ion-icon slot="start" name="ear-outline"></ion-icon>
      <ion-label>Help & Feedback</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    
    <ion-item button detail="false">
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>About</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
 

  </ion-list>

  <ion-button (click)="logout()" style="margin-left: 20px;margin-right: 20px;" expand="full" >
    Logout
    <ion-icon slot="end" name="log-out-outline"></ion-icon>
  </ion-button>   


</ion-content>
